Sounds/
Deprecated/deprecated_functions.txt
cogs/libopus-0.dll
cogs/libopus-0.x64.dll
cogs/libopus.so.0.dll
botstartup.bat
botstartup.bat - Shortcut.ink
secrets.py
soundboard_bot.py
test1.py
bin/libopus.dll
bin/libopus (2).dll
bin/libopus-0.x64.dll
bin/libopus.so.0.dll
bin/libopus-0.x86.dll
bot - Copy.py
botstartup.bat - Shortcut.lnk
.vscode/launch.json
.vscode/settings.json
__pycache__/
cogs/mac_pubg_cog.py
cogs/serial_cog.py
