# VS Code
.vscode*

# Python
__pycache__/


# Distribution files
vjemmie.egg-info/
dist/

# Startup scripts
botstartup*

# Config and credentials files
botsecrets.py

# Filetypes
*.pkl
*.psd
*.db

# Docker
docker*
Docker*
.docker*

# Directories
downloads/
_dev/*
db/*
sounds/
temp/
SoundboardProxy/
stats/

# Single files
cogs/message_cog.py
cogs/pfm_cog.py
cogs/pfm_memes_cog.py
cogs/db_cog.py
cogs/war3_cog.py
utils/events.py
soundboard_bot.py
ffmpeglog.txt
TODO
alexa.json
out/audioplayers.json
utils/oldidk.py
pfmalexa.py

# Tests
*pytest*