# VS Code
.vscode*

# Python
__pycache__/

# Startup scripts
botstartup*

# Config and credentials files
utils/config.py
secrets.py

# Filetypes
*.pkl
*.psd
*.db
traceback.txt
SoundboardProxy
utils/oldidk.py

# Docker
docker*
Docker*
.docker*
config.py

# Directories
downloads/
_dev/*
db/*
deepfryer/images/*
memes/images*
sounds/
temp/

# Single files
cogs/message_cog.py
soundboard_bot.py
ffmpeglog.txt
TODO
alexa.json
out/audioplayers.json

# Tests
*pytest*