[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
numpy = "*"
youtube-dl = "*"
gtts = "*"
xmltodict = "*"
requests = "*"
pillow = "*"
geopy = "*"
pynacl = "*"
trueskill = "*"
pathvalidate = "*"
recordclass = "*"
discord = "*"
"urllib3" = ">=1.24.2"
pygithub = "*"
requests-html = "*"
markovify = "*"
psutil = "*"
"beautifulsoup4" = "*"
"ciso8601" = "*"
websockets = "*"
"boto3" = "*"
spotipy = "*"
google-api-python-client = "*"

[dev-packages]
pylint = "*"
yapf = "*"
bandit = "*"
mypy = "*"

[requires]
python_version = "3.7"
