[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
numpy = "*"
youtube-dl = "*"
gtts = "*"
xmltodict = "*"
requests = "*"
pillow = "*"
geopy = "*"
pynacl = "*"
trueskill = "*"
pathvalidate = "*"
recordclass = "*"
discord = "*"

[dev-packages]
pylint = "*"
yapf = "*"
bandit = "*"
mypy = "*"

[requires]
python_version = "3.7"
